{% extends 'registration/base.html'%}
{% block title %} Members {% endblock%}
{% load static %}

{% block navbar %}

  <ul class="nav navbar-nav navbar-right mr-3">
  <li>
<div class="dropdown col-md-5 container  ">
  {% if user.is_authenticated %}
  <button class="btn btn-primary white-text waves-effect waves-light info-color dropdown-toggle" type="button" id="logquit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Welcome {{ request.user }}
  </button>
  <div class="dropdown-menu" aria-labelledby="logquit">
    <a class="dropdown-item" href="/logout">Logout</a>
    <div>
  </div>
  {% endif %}
</div>
</li>
</ul>

{% endblock %}


{% block body %} 

 
 




<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                
                <form class="form-horizontal" name="amirform" id="amirid" method="post">
                    {% csrf_token %}
                     {% if user.is_authenticated %}
                    <fieldset>
                        <h2 id ="uniqu" class="card-header col-md-6 container info-color white-text text-center py-7 mt-1"><strong>Visitors E-Contact</strong> </h2>
                       

                        <div class="form-group">
                            
                            <div class="container col-md-5 mt-3">
                                <input id="fname" required name="fname" type="text" placeholder="First Name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="container col-md-5 mt-3">
                                <input id="lname" required name="lname" type="text" placeholder="Last Name" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            
                            <div class="container col-md-5 mt-3 ">
                                <input id="email" name="email" type="text" placeholder="Email Address" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                           
                            <div class="container col-md-5 mt-3">
                                <input id="phone" name="phone" required type="text" placeholder="Contact Number" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            
                            <div class="container col-md-5 mt-3">
                                <input id="college" name="college" required type="text" placeholder="College/Company" class="form-control">
                            </div>
                        </div>

                       

                        <div class="form-group">
                            <div class="container col-md-5 text-center mt-2">
                                <button type="submit" class="btn btn-primary white-text waves-effect waves-light info-color mt-0"><strong>Submit</strong></button>
                            </div>
                        </div>
                    </fieldset>
                     {%  else %}
                         
                           <div class="alert white-text info-color alert-dismissible" role="alert">
                           <span aria-hidden="true">&times;</span>
                            You aren't authenticated User
                             </div>

                          
                     {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}

{% block footer%} 

<footer>
    <div class="container py-0">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#" >
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x "></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse "></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item ">
              <a href="#" >
                <span class="fa-stack fa-lg ">
                  <i class="fas fa-circle fa-stack-2x "></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse "></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" >
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
           
        </div>
      </div>
    </div>
  </footer>
<div class=" container footer-copyright text-center py-0">© Copyright;Locus-Visitors E-Contact-2020
    
  </div>
{% endblock %}

{% block js %}
<script>
{% if look %}
alert('Welcome to locus-2020');
document.location = "";
{% endif %}
</script>
{% endblock %}
